
# Byte-compiled / optimized / DLL files
# C extensions
# Distribution / packaging
# Environments
# IDE settings
# Installer logs
# Other
# PyInstaller
# Secrets
# Unit test / coverage reports
*$py.class
*.cover
*.egg
*.egg-info/
*.env
*.key
*.log
*.manifest
*.pem
*.py,cover
*.py[cod]
*.pyc
*.so
*.spec
*.tmp
*key*
*password*
*token*
.Python
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.nox/
.pytest_cache/
.tox/
.venv
.vscode/
ENV/
MANIFEST
__pycache__/
build/
coverage.xml
credentials.json
develop-eggs/
dist/
downloads/
eggs/
env/
htmlcov/
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
secrets.json
share/python-wheels/
var/
venv/
wheels/
